<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTBKiVnt_mJUUupTC2rviNoy0yyQmy2zl5jkHo0XEwMQ&s"
        alt=""
        height="200px"
        srcset=""
      />
    </div>
    <div class="small-card__tittle">
      <h1><a href="#">Saiu a nova versão da Angular</a></h1>
    </div>
  </div>
  <div>
    <hr class="container__small-card__separator" />
  </div>
</div>
